<div class="top-row pl-1 navbar navbar-dark">
    <a class="navbar-brand" href="">NURI ROBOT Supporter Help</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/base">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 기본
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/setting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 설정
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/single">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 단독제어
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/multiple">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 다중 제어
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/macro">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 매크로
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/search">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 장비조회
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/help">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 도움말
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/locale">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 언어설정
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
