@page "/"
<div class="tui-editor-contents">
    <h1>누리로봇 서포터</h1>
    <hr />
    <h3>NURI ROBOT Supporter란?</h3>
    <p>NURI ROBOT에서 판매하는 RS485지원 모터 및 모터드라이버의 지원 프로그램입니다.</p>
    <p><string>프로그램은 다중 실행하는 것이 가능하지만, 매크로를 생성하거나 수정은 최초 시작된 프로그램에서만 가능합니다.</string></p>
    <p>다음의 설치위치에서 설치프로그램을 제공합니다.<a href="./publish.htm">설치주소</a></p>
    <img src="./Images/01_Startup.png" />
    <h4>지원기능</h4>
    <ul>
        <li>
            모터 및 모터드라이버 설정
        </li>
        <li>
            단일 모터 및 모터드라이버 동작 테스트
        </li>
        <li>
            다중 모터 및 모터드라이버 동작 테스트
        </li>
        <li>
            매크로를 이용한 프로토타입 개발
        </li>
        <li>
            장비 조회
        </li>
        <li>
            도움말
        </li>
        <li>
            언어설정
        </li>
        <li>
            통신 프로토콜 확인
        </li>
    </ul>
    <hr />
    <h4>모터 및 모터드라이버 설정</h4>
    <p>설정 메뉴를 통한 제품을 세팅합니다.</p>
    <img src="./Images/02_Setting.png" />
    <h4>단일 모터 및 모터드라이버 제어</h4>
    <p>개별 모터나 모터드라이버의 동작을 제어합니다.</p>
    <img src="./Images/03_Single.png" />
    <h4>다중 모터 및 모터드라이버 제어</h4>
    <p>다중 모터나 모터드라이버의 동작을 제어합니다.</p>
    <img src="./Images/04_Multiple.png" />
    <h4>매크로를 이용한 프로토타입핑</h4>
    <p>설정이나 동작 메뉴에서 녹화한 기능 호출에 대해서 코드를 통해서 제어합니다.</p>
    <img src="./Images/05_Macro.png" />
    <h4>장비 조회</h4>
    <p>현재 연결된 comport에 대해서 하위 장비를 조회합니다.</p>
    <img src="./Images/06_Search.png" />
    <h4>도움말</h4>
    <p>현재 도움말 사이트 연결 등을 제공합니다.</p>
    <img src="./Images/07_Help.png" />
    <h4>언어설정</h4>
    <p>한글 또는 영문으로 프로그램 인터페이스 언어를 변경합니다.</p>
    <img src="./Images/08_Locale.png" />
</div>
